.maincontainer{
background-color: rgb(255, 255, 255);
padding: 16px;
display: flex;
margin: 40px 150px;
margin-bottom: 0px;
}

.image{
    width: 250px;
    height: 320px;
}
.image img{
    width: 240px;
    height: 320px;
}


.roww {
    display: flex;
    width: 100%;
    margin: 10px;
}

.rateing {
    display: flex;
    justify-content: flex-start;
}

.buy-cart {
    display: flex;
    flex-direction: column;
    margin-left: none;
}
.buy-cart1{
    margin-left: none;
}
.btn{
    width: 150px;
    margin: 4px;
}
.cartlist{
    display: flex;
}

.productdetails{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 25px;
    
}

.namepd{
    font-size: medium;
    font-weight:bolder;
    
}

.p-rating{
    background-color: green;
    width:fit-content;
    border-radius: 8px;
    color:white;
    font-weight: bold;
}






